.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
mat-toolbar{
  margin-top: 45px;
  max-height: 500px;
}
mat-card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 500px;


}

mat-card-content {
  padding: 12px;
  margin-top: 20px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

.card-item {
  margin-bottom: 4px;
  font-size: 14px;
}
td {
  text-align: left;
}
table{
  margin-left: 20px;


}
button {
  margin: 2px;
  justify-content: center;
  align-items: center;
}
