<mat-toolbar  >
  <mat-toolbar-row>
    <span>BookingCare</span>
    <span class="toolbar-spacer"></span>
    <button  mat-button  routerLink="home" [class.checked]="isTrangChuActive" (click)="setActiveButton('trangChu')" class="underline">
      Trang chủ
    </button>
    <button mat-button  routerLink="hoso" [class.checked]="isGioiThieuActive" (click)="setActiveButton('hoSo')">
     Hồ sơ sức khỏe
    </button>
    <button mat-button routerLink="cosoyte" [class.checked]="isLienHeActive" (click)="setActiveButton('cosoYTe')">
      Cơ sở y tế
    </button>
     <button  mat-button routerLink="chuyenkhoa" [class.checked]="isChuyenKhoaActive" (click)="setActiveButton('chuyenKhoa')">
      Chuyên khoa
    </button>
    <button  mat-button routerLink="bacsi" [class.checked]="isBacSiActive" (click)="setActiveButton('bacSi')">
      Bác sĩ
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle navigation">
      <mat-icon>menu</mat-icon>
    </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/nguoidung/dslichkham">Lịch sử đặt lịch</button>
  <button mat-menu-item routerLink="/thongbao">Thông báo</button>
  <button mat-menu-item routerLink="/nguoidung/hoso">Hồ sơ</button>
  <button mat-menu-item (click)="logout()">Đăng xuất</button>
</mat-menu>

  </mat-toolbar-row>
</mat-toolbar >




