<p>lichtruc works!</p>
<p>lichtruc works!</p>
<p>lichtruc works!</p>
<!--
<div *ngIf="lichTrucList">
  <h2>Thông tin lịch khám</h2>
  <p>{{ bacSi?.tenBacSi }}</p>
  <table class="schedule-table-small">
    <thead>
      <tr>
        <th>Ngày khám</th>
        <th>Giờ khám</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lichTruc of lichTrucList" (click)="chonLichTruc(lichTruc)">
        <td>{{ lichTruc.ngayTruc | date: "dd/MM/yyyy" }}</td>
        <td>{{ lichTruc.gioTruc }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div *ngIf="lichTrucList">
  <h2>Thông tin lịch khám</h2>
  <p>{{ bacSi?.tenBacSi }}</p>
  <mat-card>
    <mat-form-field
      appearance="outline"
      style="max-width: 800px; margin-top: 2%"
    >
      <mat-label>Mô tả triệu chứng</mat-label>
      <textarea
        matInput
        placeholder="Nhập mô tả triệu chứng"
        rows="5"
      ></textarea>
    </mat-form-field>
    <thead>
      <tr>
        <th>Ngày khám</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <mat-form-field
          appearance="fill"
          appearance="outline"
          class="full-width"
          style="margin: 10px"
        >
          <mat-label>Ngày khám</mat-label>
          <mat-select [(value)]="selectedNgayTruc">
            <mat-option
              *ngFor="let lichTruc of lichTrucList"
              [value]="lichTruc"
            >
              {{ lichTruc.ngayTruc | date : "dd/MM/yyyy" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tbody>

    <thead>
      <tr>
        <th>Giờ khám</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <div class="full-width" style="margin: 10px">
          <div>
            <button
              mat-stroked-button
              color="primary"
              *ngFor="let lichTruc of lichTrucList"
              mat-button
              [ngClass]="{ selected: lichTruc.ngayTruc === selectedNgayTruc }">
              {{ lichTruc.gioTruc }}
            </button>
          </div>
        </div>
      </td>
    </tbody>
  </mat-card>
</div>
<!-- (click)="chonLichTruc(lichTruc)" -->
