<mat-toolbar color="primary">
  <span class="toolbar-title">Thông lịch đặt khám</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>description</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="lichTrucList">
  <mat-card>
    <p>
      <mat-icon style="vertical-align: middle; margin: 1px">person</mat-icon>
      <strong>Bác sĩ:</strong>{{ bacSi?.tenBacSi }}
    </p>
    
    <thead>
      <th>Ngày khám</th>
    </thead>
    <tbody>
      <td>
        <mat-form-field
          appearance="fill"
          appearance="outline"
          class="full-width"
          style="margin: 10px"
        >
          <mat-label>Ngày khám</mat-label>
          <mat-select
            [(value)]="selectedNgayTruc"
            (selectionChange)="onNgayTrucSelectionChange()"
          >
            <mat-option
              *ngFor="let lichTruc of lichTrucList"
              [value]="lichTruc"
            >
              {{ lichTruc.ngayTruc | date : "dd/MM/yyyy" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tbody>
    <thead>
      <th>Giờ khám</th>
    </thead>
    <tbody>
      <td>
        <div class="full-width" style="margin: 10px">
          <div class="time-grid">
            <button
              mat-raised-button color="accent"
              *ngFor="let gio of gioTrucList"
              (click)="chonLichTruc(gio.id)"
            >
              {{ gio.gioTruc }}
            </button>
          </div>
        </div>
      </td>
    </tbody>
  </mat-card>
</div>
<!--  -->
