  .schedule-table {
    width: 80%;
    margin-top: 10%;
    border-collapse: collapse;
    margin-bottom: 10%;
    text-align: center;
    margin-left : 100px;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 8px;
    text-align: lef t;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20%;
  }

  .schedule-table th {
    background-color: #0b96e7;
  }
h2{
margin-top: 5%;

}
mat-toolbar {
  margin-top: 50px;
}
