<mat-toolbar color="primary">
  <span class="toolbar-title">Xác nhận thông tin</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>description</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="lichkham">
    <div class="mat-card">
      <div class="mat-card-header">
        <h2 class="mat-card-title">Xác nhận Lịch khám</h2>
      </div>
      <div class="mat-card-content">
        <table class="mat-table">
          <thead>
            <tr>
              <th>Chuyên Khoa</th>
              <th>Bác Sĩ</th>
              <th>Ngày Khám</th>
              <th>Giờ Khám</th>
              <th>Giá Khám</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lichkhamItem of lichkhamData">
              <td>{{ lichkhamItem?.tenChuyenKhoa }}</td>
              <td>{{ lichkhamItem?.tenBacSi }}</td>
              <td>{{ lichkhamItem?.ngayTruc | date : "dd/MM/yyyy" }}</td>
              <td>{{ lichkhamItem?.gioTruc }}</td>
              <td>{{ lichkhamItem?.tienKham | currency : "VND" : "" : "1.0-0" }} VNĐ</td>
              <td>
                <button
                  class="icon-button delete-button"
                  (click)="xoaLichKham(lichkhamItem)"
                >
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mat-card-footer">
        <div class="tong-gia-kham">
          <p>
            <strong>Tổng giá khám: {{ tongGiaKham }}</strong>
          </p>
        </div>
        <div class="button-group">
          <button class="button" (click)="addChuyenKhoa()">
            Thêm chuyên khoa
          </button>
        </div>
      </div>
    </div>

    <div class="mat-card">
      <div class="mat-card-header">
        <h2 class="mat-card-title">Thông tin Bệnh nhân</h2>
      </div>
      <div class="mat-card-content">
        <table class="mat-table">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Ngày Sinh</th>
              <th>Giới Tính</th>
              <th>Số Điện Thoại</th>
              <th>Nghề Nghiệp</th>
              <th>CMND</th>
              <th>Dân Tộc</th>
              <th>Địa Chỉ</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ hoSo?.ten }}</td>
              <td>{{ hoSo?.ngaySinh | date : "dd/MM/yyyy" }}</td>
              <td>{{ hoSo?.gioiTinh?"Nam" : "Nữ" }}</td>
              <td>{{ hoSo?.soDienThoai }}</td>
              <td>{{ hoSo?.ngheNghiep }}</td>
              <td>{{ hoSo?.cmnd }}</td>
              <td>{{ hoSo?.danToc }}</td>
              <td>{{ hoSo?.diaChi }}</td>
              <td>{{ hoSo?.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <button class="buttonn" (click)="datLich()">
    <span class="button-text">Xác nhận đặt lịch</span>
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <button class="buttonn1"  mat-stroked-button color="basic" >
    Quay lại
  </button>
</div>

