.container {
  height: 400px; /* Chiều cao cố định */
  overflow-y: scroll; /* Cuộn dọc */
}

.vertical-table {
  border-collapse: collapse;
  width: 100%;
}

.vertical-table th,
.vertical-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.vertical-table th {
  background-color: #f2f2f2;
}

.vertical-table tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-card {
  width: 48%;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f5f5f5;
}

.mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

mat-toolbar {
  margin-top: 50px;
} */
