.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
}

mat-card {
  max-width: 800px;
  width: 100%;
  margin-bottom: 100px;
  padding: 16px;
  box-shadow: 0 0 100px  rgb(179, 228, 231);



}

@media screen and (max-width: 600px) {
  mat-card {
    max-width: 100%;

  }
}

.text-center {
  text-align: center;
}

.form-field-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.full-width {
  width: 100%;
}

button {
  margin-top: 2px;
}

mat-toolbar {
  margin-top: 50px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.message-card {
  width: 580px;
  padding: 10px;
  background-color: #81c7f0;
}

.text-left {
  text-align: left;
}
