

.toolbar-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.spacer {
  flex: 1;
}

/* CSS for card */
.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  padding: 16px;
  margin-left: 16px;
  margin-top: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* CSS for mat-card */
.mat-card-container {
  margin-left: 16px;
  flex: 1;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-container {
  overflow: auto;
  max-height: 300px; /* Đặt chiều cao tùy ý cho thanh cuộn */
}

.mat-elevation-z8 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cell-clickable {
  cursor: pointer;
}

/* Optional CSS for additional styling */
.d-flex {
  display: flex;
}

.mat-row,
.mat-header-row {
  display: flex;
  align-items: center;
}
mat-toolbar {
  margin-top: 50px;
}
