
<h2 mat-dialog-title>Thông tin các Cơ sở y tế</h2>
<mat-dialog-content class="mat-typography">
  <div class="grid-container">

    <mat-card class="grid-item" *ngFor="let benhVien of benhVienList" (click)="chonBenhVien(benhVien.id)" class="cell-clickable">
      <mat-card-content>
        <p><strong>Tên bệnh viện:</strong> {{ benhVien.tenBenhVien }}</p>
        <p><strong>Địa chỉ:</strong> {{ benhVien.diaChi }}</p>
         <p><strong>Tuyến Bệnh viện:</strong> {{ benhVien.tuyenBenhVien }}</p>
        <p><strong>Số điện thoại:</strong> {{ benhVien.soDienThoai }}</p>
        <!-- Add more fields as needed --><img class="right-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPmvOWaiSIlwFO8pWmvNvuGFBov5BgivGYWg&usqp=CAU" alt="Bệnh viện ABC">
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" mat-dialog-close class="button-margin">Đóng</button>
</mat-dialog-actions>

