.slider-container {
  position: relative;
}

.slider-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
}

.overlay p {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.overlay h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

.overlay h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 10px auto;
}

.overlay p,
.overlay h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 10%;
}

.card {
  margin-bottom: 10%;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    box-shadow: 0 0 100px rgba(90, 185, 230, 0.878);
}

.img-fluid.card-img {
  width: 40%;
}

.card-body {
  text-align: center;
}

.card-title {
  font-weight: bold;
}

.button-container button {
  transition: background-color 0.3s ease;
}

.button-container button:hover,
.button-container button:focus {
  background-color: rgb(39, 201, 241);
  /* Màu nền khi hover hoặc focus */
}
