.toolbar-image {
  width: 100%;
  height: 400px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 0 24px rgba(79, 196, 204, 0.878);
}
.card-text{
text-align: center;
}

.slider-container {
  position: relative;
  width:100%;
  height: 50%;
  padding-bottom: 45%;
  overflow: hidden;
  margin-top: 25px;
}

.slider-container img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-top: 40px;

}

.overlay {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  margin-left: 40px;
}

.overlay p {
  font-size: 50px;
  font-weight: bold;
}

.overlay h2{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
