/* .wireframe---1 {
  height: 1024px;
  width: 1440px;
  background-color: #ffffff;
}

.rectangle-1 {
  height: 145px;
  width: 1440px;
  background-color: #7b61ff;
}

.text-1 {
  text-align: left;
  vertical-align: top;
  font-size: 55px;
  font-family: Inter;
  line-height: auto;
  color: #ffffff;
}

.rectangle-2 {
  height: 349px;
  width: 1329px;
  background-color: #d9d9d9;
} */
.wireframe---1 {
  height: 1024px;
  width: 1440px;
  background-color: #ffffff;
}

.rectangle-1 {
  height: 145px;
  width: 1440px;
  background-color: #7b61ff;
}

.text-1 {
  text-align: left;
  vertical-align: top;
  font-size: 55px;
  font-family: Inter;
  line-height: auto;
  color: #ffffff;
}

.rectangle-2 {
  height: 349px;
  width: 1329px;
  background-color: #d9d9d9;
}
