<div class="slider-container">
  <img src="https://datkham.kcb.vn/assets/images/male-scientist-writes-short-note-working-laboratory-with-team.jpg" />
  <div class="overlay">
    <p>Đặt lịch khám chữa bệnh trực tuyến </p><br>
    <h2>Dễ dàng kết nối với các bác sỹ tận tâm, có chuyên môn cao đến từ các bệnh viện tuyến trung ương và phòng khám uy tín</h2>
  </div>
</div>


<div style="text-align: center">
  <router-outlet>
    <h1>DỊCH VỤ</h1>
    <h2>Chủ động đặt lịch hẹn thông minh và được chăm sóc tận tình</h2>
  </router-outlet>
</div>

<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <div class="card"
    style="
     margin-bottom: 10%;
     margin-top: 2%;
      width: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; ">
    <img
      class="img-fluid card-img"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5YOrE6-V0nlCd5m3-b0FbvHx5WkkcoDorVw&usqp=CAU"
      style="width: 100%"
    />
    <div class="card-body text-center">
      <div class="justify-content-between">
        <div class="card-title"><b>DỊCH VỤ ĐẶT KHÁM TRỰC TUYẾN</b></div>
        <div></div>
      </div>
      <div class="card-text">
        Đặt khám giúp bạn hoàn toàn chủ động được thời gian khám chữa bệnh, tiết
        kiệm thời gian, hoàn thành thủ tục đặt khám nhanh chóng.
      </div>
      <div class="card">
    <button  mat-stroked-button color="accent" (click)="bookcare()">Đặt lịch khám ngay
            <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
         </button>
</div>
    </div>
  </div>
</div>

