<mat-toolbar color="primary">
  <span class="toolbar-title">Thông tin Bác sĩ</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>description</mat-icon>
  </button>
</mat-toolbar>

<div class="d-flex">
  <div class="card">
  <div class="card-body text-left"> <!-- Hoặc "text-center" nếu bạn muốn canh giữa -->
    <div class="justify-content-between">
      <div class="card-title"><b>Thông tin khám</b></div>
    </div>
    <div><strong>Bệnh viện:</strong></div>
    {{ benhVien?.tenBenhVien }}
    <div><strong>Chuyên khoa:</strong></div>
    {{ chuyenKhoa?.tenChuyenKhoa }}
  </div>
</div>

  <div class="doctor-list">
    <h2>Vui lòng chọn bác sĩ</h2>
    <div class="doctor-container" *ngIf="doctors">
      <div class="scroll-container">
        <mat-card
          *ngFor="let doctor of doctors"
          (click)="chonBacsi(doctor.id)"
          class="cell-clickable custom-card">
          <mat-card-header>
            <div mat-card-avatar class="doctor-avatar"></div>
          </mat-card-header>
          <mat-card-content>
            <p class="left-align" style="color: rgb(32, 53, 236)">
              <strong>{{ doctor.tenBacSi }}</strong>
            </p>
            <p class="left-align"><strong>Địa chỉ:</strong> {{ doctor.diaChi }}</p>
            <p class="left-align">
              <strong>Giới tính:</strong> {{ doctor.gioiTinh ? "Nam" : "Nữ" }}
            </p>
            <p class="left-align"><strong>Giá khám:</strong> {{ doctor.giaKham }}</p>
            <p class="left-align"><strong>Số điện thoại:</strong> {{ doctor.soDienThoai }}</p>
            <p class="left-align">
              <strong>Chuyên khoa:</strong>
              {{ doctor.chuyenKhoa?.tenChuyenKhoa }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
