.doctor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-card {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20%;

}

mat-card-header {
  display: flex;
  align-items: center;

}

.doctor-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

mat-card-content {
  padding: 10px;
  justify-content: space-between;
  text-align: center;
}

p {
  margin-bottom: 5px;
  color: rgb(4, 6, 22);
}
mat-toolbar {
  margin-top: 45px;
}
.cell-clickable {
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell-clickable:active {
  background-color: lightgray;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
